## Step 1. Data Cleaning

In [2]:
# Dependencies
import json
import pandas as pd
import pprint

In [4]:
# List to store the json data
data_list = []

# Open and read the file line by line
with open(r'yelp_academic_dataset_business.json') as f:
    for line in f:
        try:
            # Load each line as a JSON object
            data = json.loads(line)
            data_list.append(data)  # Append the object to the list
            
        except json.JSONDecodeError as e:
            print(f"Error decoding JSON: {e}")

# Convert the data to a Pandas DataFrame
df = pd.DataFrame(data_list)

# check column names
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 16.1+ MB

In [5]:
# Print the head of the df
df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [6]:
# Filter rows where 'categories' column contains the word 'Restaurants'
restaurants_df = df[df['categories'].str.contains('Restaurants', case=False, na=False)]

# Display the filtered DataFrame
restaurants_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
5,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,TN,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '..."
8,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': 'u'full_bar'', '...","Pubs, Restaurants, Italian, Bars, American (Tr...",None
9,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,TN,37207,36.208102,-86.768170,1.5,10,1,"{'RestaurantsAttire': ''casual'', 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '..."
11,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,1,"{'Alcohol': ''none'', 'OutdoorSeating': 'None'...","Vietnamese, Food, Restaurants, Food Trucks","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'..."

In [7]:
# To find out which categories are the most frequent:

# Split the categories and flatten the list
categories_list = restaurants_df['categories'].str.split(', ').explode()

# Use value_counts to count the frequency of each category
category_counts_df = categories_list.value_counts().reset_index()

# Rename the columns for clarity
category_counts_df.columns = ['Category', 'Frequency']

# Sort by frequency
category_counts_df = category_counts_df.sort_values(by='Frequency', ascending=False)

# Display the most common categories
print(category_counts_df)

                 Category  Frequency
0             Restaurants      52268
1                    Food      15472
2               Nightlife       8723
3              Sandwiches       8366
4                    Bars       8337
..                    ...        ...
617       Health Retreats          1
618              Airlines          1
619   Auto Loan Providers          1
620  Divorce & Family Law          1
727  Gemstones & Minerals          1

[728 rows x 2 columns]

In [8]:
# Export the categories to CSV
category_counts_df.to_csv('category_counts.csv', index=False)

print("Category counts exported to category_counts.csv")

Category counts exported to category_counts.csv

As a group, we read through the category_counts.csv and chose the top 15 ethnic foods by count. We used human intelligence (and some healthy debate) to look through the categories and choose which ones represented ethnic food, rather than writing code for this.
Categories chosen were:
Mexican
Italian
Chinese
Japanese
Mediterranean
Southern
Thai
Cajun/Creole
Vietnamese
Indian
Latin American
Greek
Caribbean
Middle Eastern
French
Korean
Spanish
Cuban
Canadien (New)
Pakistani
Irish
Hawaiian

In [9]:
# Filter rows where 'categories' column contains any of the specified cuisines
filtered_restaurants_df = restaurants_df[restaurants_df['categories'].str.contains(
    'Mexican|Italian|Chinese|Japanese|Mediterranean|Southern|Thai|Cajun/Creole|Vietnamese|Indian|Latin American|Greek\
|Caribbean|Middle Eastern|French|Korean|Spanish|Cuban|Canadien (New)|Pakistani|Irish|Hawaiian', case=False, na=False)]

# Display the filtered DataFrame
filtered_restaurants_df.head()

C:\Users\Jean\AppData\Local\Temp\ipykernel_20528\3743132951.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filtered_restaurants_df = restaurants_df[restaurants_df['categories'].str.contains(

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
8,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,8025 Mackenzie Rd,Affton,MO,63123,38.565165,-90.321087,3.0,19,0,"{'Caters': 'True', 'Alcohol': 'u'full_bar'', '...","Pubs, Restaurants, Italian, Bars, American (Tr...",None
11,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,1,"{'Alcohol': ''none'', 'OutdoorSeating': 'None'...","Vietnamese, Food, Restaurants, Food Trucks","{'Monday': '11:0-14:0', 'Tuesday': '11:0-14:0'..."
14,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771,27.916116,-82.760461,4.5,100,0,"{'OutdoorSeating': 'False', 'RestaurantsGoodFo...","Food, Delis, Italian, Bakeries, Restaurants","{'Monday': '10:0-18:0', 'Tuesday': '10:0-20:0'..."
15,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,1,"{'RestaurantsReservations': 'True', 'Restauran...","Sushi Bars, Restaurants, Japanese","{'Tuesday': '13:30-22:0', 'Wednesday': '13:30-..."
19,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,1,"{'NoiseLevel': 'u'quiet'', 'GoodForMeal': '{'d...","Korean, Restaurants","{'Monday': '11:30-20:30', 'Tuesday': '11:30-20..."

In [10]:
# Convert DataFrame to JSON string with 'records' format
filtered_restaurants_json = filtered_restaurants_df.to_json(orient='records')

# Convert the JSON string back into a Python object (list of dictionaries)
filtered_restaurants_list = json.loads(filtered_restaurants_json)

# Now you can access individual records
print(json.dumps(filtered_restaurants_list[0], indent=4))

{
    "business_id": "k0hlBqXX-Bt0vf1op7Jr1w",
    "name": "Tsevi's Pub And Grill",
    "address": "8025 Mackenzie Rd",
    "city": "Affton",
    "state": "MO",
    "postal_code": "63123",
    "latitude": 38.5651648,
    "longitude": -90.3210868,
    "stars": 3.0,
    "review_count": 19,
    "is_open": 0,
    "attributes": {
        "Caters": "True",
        "Alcohol": "u'full_bar'",
        "RestaurantsAttire": "u'casual'",
        "RestaurantsDelivery": "False",
        "RestaurantsTakeOut": "True",
        "HasTV": "True",
        "NoiseLevel": "u'average'",
        "BusinessAcceptsCreditCards": "True",
        "OutdoorSeating": "True",
        "BusinessParking": "{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}",
        "Ambience": "{'romantic': False, 'intimate': False, 'touristy': False, 'hipster': False, 'divey': False, 'classy': False, 'trendy': False, 'upscale': False, 'casual': False}",
        "RestaurantsPriceRange2": "1",
        "GoodForKids": "True",
        "WiFi": "u'free'",
        "RestaurantsReservations": "False",
        "RestaurantsGoodForGroups": "True"
    },
    "categories": "Pubs, Restaurants, Italian, Bars, American (Traditional), Nightlife, Greek",
    "hours": null
}

In [11]:
# Export to CSV
filtered_restaurants_df.to_csv('filtered_restaurants2.csv', index=False)

In [12]:
# Export to JSON
with open('filtered_restaurant_record2.json', 'w') as json_file:
    json.dump(filtered_restaurants_list, json_file, indent=4)

In [13]:
print("Data exported to 'filtered_restaurants2.csv' and 'filtered_restaurant_record2.json'.")

Data exported to 'filtered_restaurants2.csv' and 'filtered_restaurant_record2.json'.

In [16]:
# For ERD creation, get a summary of both filtered_restaurants2.csv and uscities.csv

# Read the uscities.csv data into a Pandas DataFrame
cities_df = pd.read_csv('uscities.csv')
# Get a summary of the info
cities_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31120 entries, 0 to 31119
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          31120 non-null  object
 1   city_ascii    31120 non-null  object
 2   state_id      31120 non-null  object
 3   state_name    31120 non-null  object
 4   county_fips   31120 non-null  int64
 5   county_name   31120 non-null  object
 6   lat           31120 non-null  float64
 7   lng           31120 non-null  float64
 8   population    31120 non-null  int64
 9   density       31120 non-null  float64
 10  source        31120 non-null  object
 11  military      31120 non-null  bool
 12  incorporated  31120 non-null  bool
 13  timezone      31120 non-null  object
 14  ranking       31120 non-null  int64
 15  zips          31118 non-null  object
 16  id            31120 non-null  int64
dtypes: bool(2), float64(3), int64(4), object(8)
memory usage: 3.6+ MB

In [17]:
# Get a summary of the filtered_restaurants_df info

filtered_restaurants_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21360 entries, 8 to 150340
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   21360 non-null  object
 1   name          21360 non-null  object
 2   address       21360 non-null  object
 3   city          21360 non-null  object
 4   state         21360 non-null  object
 5   postal_code   21360 non-null  object
 6   latitude      21360 non-null  float64
 7   longitude     21360 non-null  float64
 8   stars         21360 non-null  float64
 9   review_count  21360 non-null  int64
 10  is_open       21360 non-null  int64
 11  attributes    21127 non-null  object
 12  categories    21360 non-null  object
 13  hours         18591 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 2.9+ MB